<h1>
  Player: <%= @game.p1.name %> - hit points:  <%= @game.p1.hp %>  Player: <%= @game.p2.name  %> - hit points: <%= @game.p2.hp %> 
</h1>

<form action='/attack' method='get'>
  <input type='submit' name='attack' value='Attack'>
</form>

  <%= @game.p1.name %> attacked <%= @game.p2.name %>.
</h1> 