<h1>
  Player: <%= @game.p1.name %> - hit points:  <%= @game.p1.hp %>  Player: <%= @game.p2.name  %> - hit points: <%= @game.p2.hp %> 
</h1>

<h3>
  Current turn: <%= @game.players[@game.current_turn].name %>
</h3>

<form action='/attack' method='get'>
  <input type='submit' name='attack' value='Attack'>
</form>
